body {
  height: 100vh;
  font-family: "Red Hat Display";
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-color: #e0e8ff;
}
.div-one {
  background-color: #f2f2f2;
  border-radius: 11px;
  margin: 48px;
}
h1 {
  text-align: center;
  color: #1f2e55;
  font-weight: 900;
  font-size: 28px;
}
img {
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}
.main {
  border-radius: 20px;
  background-color: white;
}
.text {
  text-align: center;
  color: #717fa6;
  line-height: 26px;
  margin-top: 5px;
}
.img-two {
  margin: 24px;
}
.name {
  font-weight: 900;
  color: #1f2e55;
  margin: 0;
  margin-top: 15px;
}
.div-two {
  display: flex;
}
.div-three {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  margin: auto;
  color: #382ae1;
  font-weight: 700;
  margin-right: 20px;
}
.btn-one {
  background-color: #382ae1;
  border-radius: 11px;
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
  border: #382ae1;
}
.btn-cont {
  margin: 48px;
}
.btn-two {
  border: white;
  background-color: white;
  color: #717fa6;
  text-align: center;
  width: 100%;
  margin-top: 40px;
  font-weight: 900;
}
